<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script src="https://unpkg.com/vue"></script>
    <script src="src/index.js" defer></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Todos</h1>

          <div id="app">
            <p>{{message}}</p>
            <input type="text" v-model="id">
            <button @click="loadData">Load</button>
            <p v-if="data">{{data.title}}</p>
          </div>

          <div class="list-group" id="todos_list"></div>
          <hr />
          <form id="todo_form">
            <div class="inline-group">
              <input type="text" class="form-control" name="title" />
              <button class="btn btn-primary" type="submit">Add Todo</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
